:root {
  --main-active-bg-color: rgba(224, 238, 238, 0.8);
  --main-text-color: #46474e;
}

body {
  color: var(--main-text-color);
}

hr {
  background-color: rgb(224, 221, 221);
  color: rgb(224, 221, 221);
}
/*
** Material Icons
*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(icons/iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(icons/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*
** Top Nav Bar
*/
input[disabled] {
  color: black;
  background-color: var(--main-active-bg-color);
}

.search-bar-container {
  display: grid;
  grid-template-columns: [back-button]1fr [forward-buton]1fr [refresh-button]1fr [search-bar]25fr [star-button]1fr;
  padding: 0px;
}

.bar-button {
  display: inline-block;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: auto;
  text-align: center;
}

.bar-button:hover {
  background-color: var(--main-active-bg-color);
  border-radius: 50%;

  transform: scale(1.1);
}

/*  Come back to this, hover after focus doesn't change bg color anymore
.bar-button:focus {
  outline: none;
  background-color: white;
}*/

.bar-button:active {
  outline: none;
  background-color: var(--main-active-bg-color);
  transform: scale(1.3);
}

.search-bar {
  border-radius: 10px;
  text-indent: 10px;
  margin-right: 0.9em;
}

/*
** Main Window
*/

.main-container {
  display: grid;
  grid-template-columns: [side-bar]3fr [main-window]20fr [right-ditch]1fr;
}

.side-bar {
  display: grid;
  grid-template-rows: [inbox]1fr [starred]1fr [snoozed]1fr [important]1fr [sent]1fr [drafts]1fr;
  max-height: 200px;
  min-height: 200px;
}

.side-bar a {
  margin: 3px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

.side-bar span {
  position: relative;
  bottom: 5px;
}

.side-bar a:hover {
  background-color: var(--main-active-bg-color);
  border-radius: 6px;
  text-indent: 5px;
}

.side-bar img {
  margin-right: 10px;
}

.main-window {
  padding-left: 1em;
  display: inline;
  grid-template-areas:
    "main-head"
    "content-header"
    "main-content"
    "filler";
  grid-template-columns: auto;
}

.main-head {
  grid-row: main-head;
  display: inline;
}

.tab-content {
  display: none;
}

.main-content {
  grid-row: main-content;
}

.main-content th {
  cursor: pointer;
  width: 33.3%;
  transition: 0.2s;
  text-align: left;
  border-bottom: 1px transparent solid;
}

.main-content th span {
  position: relative;
  bottom: 5px;
  margin-left: 1em;
}

.main-content th:hover {
  background-color: var(--main-active-bg-color);
}

.main-content th.active {
  color: crimson;
  border-bottom: 3px solid crimson;
  border-radius: 3px;
}

.main-content td {
  border-collapse: separate;
  text-align: left;
  padding-bottom: 5px;
  cursor: pointer;
}

.main-content td span {
  position: relative;
  bottom: 5px;
}

tr:hover > td.highlight {
  border-bottom: 1px rgb(181, 191, 202) solid;
  border-top: 1px rgb(181, 191, 202) solid;
  padding: 0 0 5px 0;
}

tr:hover > td.highlight span {
  margin: -1px 0;
  padding: 5px 5px 1px;
}

.main-content a {
  margin: 3px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

.main-content img {
  margin-right: 4px;
}
