

:root {
  --example-of-var: 10px;
  --header-color: hsl(110, 54%, 54%);
}
h4 {
  text-align: center;
  /*background-color: hsl(180, 35%, 51%);*/

  /* Below is the variable followed be a default in case it cant find the variable */
  padding: var(--example-of-var, 15px);
}

.fullCard {
  max-width: 765px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

.cardContent {
    padding: var(--example-of-var, 10px);
}
.cardText {
    margin-bottom: 10px;
}

.cardHeader {
  background-color: var(--header-color), rgba(41, 185, 113, 0.699);
  display: inline;
}
.cardHeader a {
  float: right;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.cardHeader img {
  width:30px;
  height:30px;
  padding-left: 10px;
}
