
/*****General Styles*****/
:root {
  --example-of-var: 10px;
  --header-color: hsl(110, 54%, 54%);
  background-color: rgb(40, 44, 52);
  /*color: aliceblue;*/

}

body {
  font-family: "Courier New", Courier, monospace;
}

h4 {
  text-align: center;
  /*background-color: hsl(180, 35%, 51%);*/

  /* Below is the variable followed be a default in case it cant find the variable */
  padding: var(--example-of-var, 15px);
}

/*******NavBar Style*******/
.cardNav {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}


.cardNav img {
  width:30px;
  height:30px;
  padding-left: 10px;
  grid-column: 1;
  grid-row: 1;
}
#appname {
  text-align: right;
  padding: 10px 10px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 17px;
  grid-column: 3 ;
  grid-row: 1 ;
}

.cardNav button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  grid-column: 2;
  grid-row: 1;
  cursor: pointer;
}

.cardNav button1:hover {
  color: #ffffff;
  background-color: #000000;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(0, 0, 0); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgb(119, 185, 211); 
}
/******Body Styles*****/

.fullCard {
  max-width: 765px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

.cardContent {
    padding: var(--example-of-var, 10px);
}
.cardText {
    margin-bottom: 10px;
}


.sim-console {
  background-color:rgb(40, 44, 52);
  color: aliceblue;
}

.sim-console a:link {
  color: #ff9999
}

.sim-console a:visited {
  color: darkgrey;
}

.prompt {
  color: #88ccbb;
}
